@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-slate-950 text-slate-50;
}

:root {
  --primary-text-color: #182a42;
  --opacity-text: 0.5;
  --gray-text-color: #8090a4;
  --white-text-color: #ffffff;
  --border-color: #ebebeb;
  --background-color: #e8f4ff;

  --font-family: "Klein", sans-serif;
  --second-family: "Afacad", sans-serif;

}

.gradient-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #003181 0%, #2288ed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}